.footer {
    background: #010635!important;
    padding-top: 32px;
    color: white;
}

footer h4 {
    font-family: "Arimo Hebrew Subset Italic";
    font-size: 20px;
    font-style: italic;
    line-height: 40px; /* 160% */
}

footer img {
    width: 130px;
    height: 120px;
}

.foot-link { 
    color: #FFF;
    font-size: 15px;
    text-decoration: none;
}

.line {
    padding-left: 200px;
    padding-right: 200px;
}

.logo-foot{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}